.reply_container {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 3em;
}

.reply_box {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    max-width: 700px;
    margin: 0 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
}

.reply_row {
    display: flex;
    align-items: center;
    gap: 1em;
}

.reply_item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;

    >span {
        color: gray;
    }
}

.reply_input {
    padding: 1em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    outline: 0;
}

.reply_textarea {
    padding: 1em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    outline: 0;
    resize: vertical;
    max-height: 300px;
    height: 100px;
}

.check {
    display: flex;
    align-items: center;
    gap: 0.5em;

    >span {
        color: gray;
    }
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

.reply_button {
    padding: 1em;
    border-radius: 0.5em;
    outline: 0;
    background-color: #007AE8;
    border: none;
    color: #fff;
    cursor: pointer;
    width: fit-content;
}

@media only screen and (max-width: 850px) {
    .reply_row {
        flex-direction: column;
    }
}