.test {
    display: flex;
    flex-wrap: nowrap;

    flex-direction: row;
    justify-content: normal;
    align-items: normal;

    .post {
        margin-bottom: 17px;
    }

    .post-title {
        font-size: 13px;
        font-weight: bold;
    }

    .timestamp {
        font-size: 14px;
        color: grey;
    }

    .view-all {
        display: flex;
        align-items: center;
        gap: .5em;

        color: grey;
        font-size: 16px;
        text-align: center;

        cursor: pointer;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: none;
        margin-top: 1em;
    }

    .frame {
        justify-content: normal;
        align-items: normal;
        width: 300px;
        padding: 1em;
        background-color: #fff;
        border-radius: 5px;
    }

    .frame_title {
        margin-bottom: 1em;
    }
}