

.test{

    display: flex;
    flex-wrap: nowrap;

    flex-direction: row;
    justify-content: normal;
align-items: normal;

body {
    font-family: Arial, sans-serif;
}
.post {
   
    margin-bottom: 17px;
}
.post-title {
  
    font-size: 13px;
    font-weight: bold;
}
.timestamp {
  
    font-size: 14px;
    color: grey;
}
.view-all {
   
  
    color: grey;
    display: inline-block;

font-size: 16px;
text-align: center;

cursor: pointer;
outline: none;
color: rgb(0, 0, 0);
background-color: transparent;
border: none;
    
}


.frame {
   
   

justify-content: normal;
align-items: normal;
    height: 415px;
width: 300px;
padding: 30px;
border: 1px solid #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: #fff;
border-radius: 5px;



}


}